.container {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
}

.container > *:not(.canvas) {
  flex: 1;
  min-height: 0;
}

.canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  touch-action: none;
}
